@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

#root {
  min-height: 100vh;
  background-color: rgb(17, 21, 30);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#root #quote-box {
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
#root #quote-box #text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-size: 20px;
  line-height: 1.5;
}
#root #quote-box #text:not(:empty)::before, #root #quote-box #text:not(:empty)::after {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
}
#root #quote-box #text:not(:empty)::before {
  content: url("data:image/svg+xml,%3Csvg style='fill: %23e91e63' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M96 224C84.72 224 74.05 226.3 64 229.9V224c0-35.3 28.7-64 64-64c17.67 0 32-14.33 32-32S145.7 96 128 96C57.42 96 0 153.4 0 224v96c0 53.02 42.98 96 96 96s96-42.98 96-96S149 224 96 224zM352 224c-11.28 0-21.95 2.305-32 5.879V224c0-35.3 28.7-64 64-64c17.67 0 32-14.33 32-32s-14.33-32-32-32c-70.58 0-128 57.42-128 128v96c0 53.02 42.98 96 96 96s96-42.98 96-96S405 224 352 224z'/%3E%3C/svg%3E");
  top: 20px;
  left: 20px;
}
#root #quote-box #text:not(:empty)::after {
  content: url("data:image/svg+xml,%3Csvg style='fill: %23e91e63' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M96 96C42.98 96 0 138.1 0 192s42.98 96 96 96c11.28 0 21.95-2.305 32-5.879V288c0 35.3-28.7 64-64 64c-17.67 0-32 14.33-32 32s14.33 32 32 32c70.58 0 128-57.42 128-128V192C192 138.1 149 96 96 96zM448 192c0-53.02-42.98-96-96-96s-96 42.98-96 96s42.98 96 96 96c11.28 0 21.95-2.305 32-5.879V288c0 35.3-28.7 64-64 64c-17.67 0-32 14.33-32 32s14.33 32 32 32c70.58 0 128-57.42 128-128V192z'/%3E%3C/svg%3E");
  bottom: 25px;
  right: 20px;
}
#root #quote-box .animate {
  opacity: 0;
  -webkit-animation: fade-in 1s linear forwards;
          animation: fade-in 1s linear forwards;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
#root #quote-box #text,
#root #quote-box .quote-footer {
  padding: 40px;
}
#root #quote-box .quote-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 10px;
}
#root #quote-box .quote-footer #author {
  text-align: right;
}
#root #quote-box .quote-footer #author:not(:empty)::before {
  content: "– ";
}
#root #quote-box .quote-footer .share-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
#root #quote-box .quote-footer .share-options a {
  padding: 10px;
  background-color: rgb(233, 30, 99);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}
#root #quote-box .quote-footer .share-options a:hover {
  background-color: rgba(233, 30, 99, 0.8);
}
#root #quote-box .quote-footer .share-options a svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}
#root #quote-box #new-quote {
  width: 100%;
  border: none;
  background-color: rgb(233, 30, 99);
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  padding: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
#root #quote-box #new-quote:hover {
  background-color: rgba(233, 30, 99, 0.8);
}

@-webkit-keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */